body{
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight:100;
}

/* Navigation bar position */
.container{
  width: 100%;
  margin: 0 auto;
  padding-top: 7px;
}

/* Navigation bar colour */
header{
  background-color: rgb(51,51,51);
  width: 80%;
  height: 43px;
}

/* Navigation bar*/
nav{
  position: relative;
  left: 25%;
  margin-top: 4px;
}

/* Navigation elementos*/
nav a{
  text-decoration: none;
  color: white;
  margin-right: 70px;
  font-size: 15px;
}

/* Navigation elemento escogido*/
nav a:hover{
  opacity: .5;
  transition: .3s;
}

/* Login Page */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.contenedor1 {
  text-align:center;
  margin-top: 40px;
}

#textoInicio2 {
  font-size: 36px;
  font-weight: 900;
}

#textoInicio {
  font-size: 26px;
  font-weight: 500;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 80%;
  table-layout: fixed;
  text-align: center;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}