body{
  margin: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Navigation bar position */
.container{
  width: 100%;
  margin: 0 auto;
  padding-top: 7px;
}

/* Navigation bar colour */
header{
  background-color: rgb(51,51,51);
  width: 80%;
  height: 43px;
}

/* Navigation bar*/
nav{
  position: relative;
  left: 25%;
  margin-top: 4px;
}

/* Navigation elementos*/
nav a{
  text-decoration: none;
  color: white;
  margin-right: 70px;
  font-size: 15px;
}

/* Navigation elemento escogido*/
nav a:hover{
  opacity: .5;
  transition: .3s;
}

/* Login Page */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.contenedorinicio {
  text-align:center;
  margin-top: 40px;
}

#textoinicio {
  text-align:center;
  font-size: 40px;
  font-weight: 500;
}
#textoinicio2 {
  text-align:center;
  font-size: 30px;
  font-weight: 500;
}

#textoinicio3 {
  text-align:center;
  font-size: 20px;
  font-weight: 200;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 80%;
  table-layout: fixed;
  text-align: center;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.form-mod {
  width: 500px;
  height: 500px;
  padding: 25px;
  margin-top: 25px;
  margin-left: 25%;
}

.form-row-nombre {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;

}

.form-row-nombre input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row-nombre label {
  margin-bottom: 10px;
}
.form-row-nombre input[type='text'],
.form-row-nombre textarea {
  width: 400px;
  height: initial;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 10px;
}
.form-row input[type='text'],
.form-row textarea {
  width: 400px;
  height: 200px;
  text-align: justify;
  white-space: normal;
}

.cuadro-tabla {
  margin: 20px;
}

.boton-añadir {
  width: 150px;
  height: 30px;
}

.boton-modificar {
  width: 150px;
  height: 30px;
}

.boton-eliminar {
  width: 150px;
  height: 30px;
}